.container {
  width: 1200px;
  margin: 0px auto;
}
.section {
  padding-top: 94px;
}
.header {
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;

  padding-top: 24px;
  display: flex;
}

.head-menu {
  display: flex;
  justify-content: space-between;
  gap: 94px;
}

.navigation-menu {
  margin: 0;
  padding-top: 0;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-left: 0px;
  margin: 0;
  gap: 46px;
}

.menu-link {
  display: block;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  line-height: 1.14;
}

.here {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.here::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -40px;
  background-color: #2196f3;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-main {
  display: flex;
  justify-content: space-between;
}

.contact-menu {
  display: flex;
  gap: 30px;
  align-items: baseline;
  justify-content: center;
  padding-top: 32px;
}

.e-mail-link,
.phone-link {
  display: inline;
  color: #757575;
  text-decoration: none;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
}

.e-mail:hover,
.e-mail:focus,
.phone:hover,
.phone:focus,
.e-mail-link:hover,
.e-mail-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  width: 16px;
  height: 12px;
}
.phone-icon {
  width: 10px;
  height: 16px;
}

.head {
  display: flex;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-menu.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
}
.button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  margin: 0px;
  display: block;
  width: 200px;
  height: 50px;
}

.strengths {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.strength-box {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.strength-icon {
  width: 70px;
  height: 70px;
}

.strength {
  display: inline-block;
}

.tittle-strength {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0px auto;

  max-height: 185px;
}

.strength-element {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-block;
  min-width: 270px;
  max-width: 293px;
  height: 75px;
  padding-top: 10px;

  margin: 0px;
}

.subheader {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.subheader_tittle {
  margin: 0px;
  padding-bottom: 50px;
  font-size: 36px;
  text-align: center;
  padding-left: 0px;
}
.subheader_img {
  margin: 0px;
  display: block;
}

.images-list {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.image-list {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-weight: 700;
  display: flex;
  margin: 0px;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}



.team {
  background-color: #f5f4fa;
    padding-top: 0px;
  margin-top: 94px;
}

.tittle-list {
  padding-top: 94px;
  margin: 0px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 50px;
  font-size: 36px;
}

.images-list,
.team-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}

.customers-list,
.team-list-tittle {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}

.team .container {
  margin-top: 0px;
}
.worker {
  display: inline-block;
  background: #ffffff;

  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member,
.profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.member {
  font-weight: 500;
  padding-top: 14px;
}

.profession {
  color: #757575;
  padding-bottom: 30px;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 30px;
  gap: 10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #fff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---- CUSTOMERS ---- */

.customers-list {
  padding-top: 0px;
}

.customers {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.customer-logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}
.customer-icon {
  width: 106px;
  height: 60px;
}
.customer-logo:hover,
.customer-logo:focus,
.customer-icon:hover,
.customer-icon:focus {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* ----FOOTER---- */

.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: space-between;

padding-bottom: 60px;
margin-top: 94px;
}

.logo-footer {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-position: 215px 24px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;
}
.address,
.address-mail,
.address-phone {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 9px auto;
}
.address-mail,
.address-phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-phone:hover,
.address-mail:focus,
.address-phone:focus {
  color: rgba(33, 150, 243, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0px;
  list-style: none;
  margin-top: 20px;
  vertical-align: middle;
}

.social-list-tittle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.social-icon-footer {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 12px;

}

.send-input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
    background-color: #2F303A;
}

.send-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.send-icon {
  width: 24px;
  height: 24px;
}

/* -----PORTFOLIO----- */

.filters {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  margin: 8px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  padding-top: 50px;
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
  justify-content: space-between;
  margin-bottom: 94px;
  padding-left: 0px;
  gap: 30px;
}
.project-item {
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.project-item:hover .overlay {
  transform: translatex(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translatey(140%);
  transition: transform 250ms ease;
}

.overlay > p {
  color: #fff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
}

.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

.project-link {
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* ==== BACKDROP ==== */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}

.form-item {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 10px;
  

}

.form-input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;

}

.form-input:focus + .icon-person,
.form-input:focus + .icon-tele,
.form-input:focus + .icon-mail{
 border-color:#2196F3;
 fill:#2196F3;
}

.form-textarea:focus{
 border:  #2196F3;

}

.icon-person{
  width: 12px;
  height: 12px;
}

.form-item > .icon-person{
  top:108px;
  left: 52px;
  position:absolute
}

.icon-tele{
   width: 13px;
  height: 13px;
}

.form-item > .icon-tele{
  top:174.26px;
  left: 54.27px;
  position:absolute
}

.icon-mail{
  width: 15px;
  height: 12px;
}

.form-item > .icon-mail{
  top:243px;
  left: 53.5px;
  position:absolute
}


.hidden {
  -moz-appearance:none;
  -webkit-appearance:none;  
  appearance: none;
}

.person {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 107px;
  left: 55px;
}
.form-textarea {
  display: block;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-policy {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 30px;
}

.form-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

