.container {
  width: 1200px;
  display: flex;
    margin: 94px 215px 0px;
}
.section{
  width: 1600px;
}
.header{
  padding-bottom: 32px;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;

  padding-top: 24px;
  display: inline-block;
}
.navigation-menu ul {
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu-link,
.contact,
.portfolio {
  display: block;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  line-height: 1.14;
  padding-top: 32px;
}

.portfolio:hover,
.portfolio:focus,
.contact:hover,
.contact:focus,
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.menu-link {
  padding-left: 93px;
}
.portfolio {
  padding-left: 46px;
}
.contact {
  padding-left: 46px;
}
.e-mail,
.phone {
  display: inline;
  color: #757575;
  text-decoration: none;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.e-mail:hover,
.e-mail:focus,
.phone:hover,
.phone:focus {
  color: #2196f3;
}
.e-mail {
  padding-left: 150px;
}
.phone {
  margin-left: 50px;
}
.head {
  display: block;
  background-color: #2f303a;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(/images/img-menu.jpg);
  width: 1600px;
  height: 600px;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  padding: 200px 452px 40px;
  margin-top:0px;
}
.button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  margin: auto;
  display: block;
  width: 200px;
  height: 50px;
}

.container_strength,
.container {
  margin: 94px 215px 0px;
}

.strengths {
  margin: 0px;
  padding: 0px;
  width: 1200px;
}

.strength {
  list-style-type: none;
  display: inline-block;
}

.tittle-strength {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 30px;
  margin: 0px auto;
  padding-top: 94px;
  max-height: 185px;
}

.strength-element {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-block;
  min-width: 270px;
  max-width: 293px;
  height: 75px;
  padding-top: 10px;
  padding-left: 30px;
  margin: 0px;
}

.subheader {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 215px;
  margin-right: 215px;
}
.subheader_tittle{
margin-top: 94px;
  padding-left: 224px;
  padding-right: 224px;
  padding-bottom: 50px;
  font-size: 36px;
  
}
.subheader_img{

  margin-left: 15px;
  margin-bottom: 94px;
}
.team {
  list-style-type: none;
  background: #f5f4fa;
  width:1600px;
  margin-left: -20px;;
  justify-content: center;
}

.team .subheader_tittle{
  padding-top: 94px;
  padding-left: 695px;
  margin-bottom: 0px;
}
.team .container{
  margin-top: 0px;
}
.worker{
  display:inline-block;
  background: #FFFFFF;
 margin-left: 30px;
  margin-bottom: 94px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.member,
.profession{
    font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.member {
  font-weight: 500;
padding-top: 14px;
}

.profession {
  color: #757575;
}
.social-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0px;
  margin-bottom: 30px;
}

.social-list-link{
  display: flex;
  width:44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-icon{
  width: 20px;
  height: 20px;

}

.social-list-link:hover, 
.social-list-link:focus{
   fill:#fff;
   background-color:#2196f3; 
}


.footer {
  background-color: #2f303a;
  display: block;
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-position: 215px 24px;
  text-decoration: none;
  color: #fff;
margin-bottom: 20px;
}
.address,
.address-mail,
.address-phone {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin:9px auto;

}
.address-mail,
.address-phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-phone:hover,
.address-mail:focus,
.address-phone:focus {
  color: rgba(33, 150, 243, 0.6);
}

.social-list-link-footer{
  display: flex;
  width:44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

.filters {
  list-style-type: none;
  display:flex;
  justify-content: center;
  margin:0px;

}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  margin: 8px;
  margin-top: 174px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: #2196f3;
}

.projects {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px)/3);
  margin-left: 200px;
  margin-bottom: 79px;
}
.project-item{
  border:1px solid #EEEEEE;
   padding-bottom:20px;
margin:15px;

}
.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top:20px;
  padding-left: 24px;
}

.project-link {
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
   padding-bottom:20px;
  padding-left: 24px;
}
