.container {
  width: 1200px;
  margin: 0px auto;
}
.section {
  padding-top: 94px;
}
.header {
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;

  padding-top: 24px;
  display: flex;
}

.head-menu {
  display: flex;
}

.navigation-menu ul {
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu-link,
.contact,
.portfolio {
  display: block;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  line-height: 1.14;
  padding-top: 32px;
}

.portfolio:hover,
.portfolio:focus,
.contact:hover,
.contact:focus,
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.menu-link {
  padding-left: 93px;
}
.portfolio {
  padding-left: 46px;
}
.contact {
  padding-left: 46px;
}
.head-main{
  display: flex;
  justify-content: space-between;
}

.contact-menu{
  display: flex;
  gap:30px;
  align-items:baseline;
  justify-content: center;
  padding-top: 32px;

}

.e-mail-link,
.phone-link {
  display: inline;
  color: #757575;
  text-decoration: none;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
}

.e-mail:hover,
.e-mail:focus,
.phone:hover,
.phone:focus,
.e-mail-link:hover,
.e-mail-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: #2196f3;
  fill:#2196f3;
}

.mail-icon{
  width:16px;
  height:12px;
}
.phone-icon{
  width:10px;
height:16px;
}

.head {
  display: flex;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(/images/img-menu.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
}
.button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  margin: 0px;
  display: block;
  width: 200px;
  height: 50px;
}

.strengths {
  list-style-type: none;
  display: flex;
}


.strength-box{
  background: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.strength-icon{
  width: 70px;
  height: 70px;
}

.strength {
  display: inline-block;
}

.tittle-strength {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 30px;
  margin: 0px auto;

  max-height: 185px;
}

.strength-element {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-block;
  min-width: 270px;
  max-width: 293px;
  height: 75px;
  padding-top: 10px;
  padding-left: 30px;
  margin: 0px;
}

.subheader {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}
.subheader_tittle {
  margin: 0px;
  padding-bottom: 50px;
  font-size: 36px;
  text-align: center;
  padding-left: 0px;
}
.subheader_img {
  margin: 0px;
  display: block;
}

.images-list {
  display: flex;
  margin: 0px;
  justify-content: space-around;
  align-items: center;
  gap:30px

}

.team {
  background-color: #f5f4fa;
}

.tittle-list {
  padding-top: 94px;
  margin: 0px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 50px;
  font-size: 36px;
}

.images-list,
.team-list,
.customers-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}

.team .container {
  margin-top: 0px;
}
.worker {
  display: inline-block;
  background: #ffffff;

  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member,
.profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.member {
  font-weight: 500;
  padding-top: 14px;
}

.profession {
  color: #757575;
  padding-bottom: 30px;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 30px;
   gap:10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #fff;
  background-color: #2196f3;
}
/* ---- CUSTOMERS ---- */

.customers-list {
  padding-top: 0px;
}

.customers {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

.customer-logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}
.customer-icon {
  width: 106px;
  height: 60px;
}
.customer-logo:hover,
.customer-logo:focus,
.customer-icon:hover,
.customer-icon:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

/* ----FOOTER---- */

.footer {
  background-color: #2f303a;
  display: flex;
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
  gap:70px;
}
.logo-footer {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-position: 215px 24px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;
}
.address,
.address-mail,
.address-phone {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 9px auto;
}
.address-mail,
.address-phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-phone:hover,
.address-mail:focus,
.address-phone:focus {
  color: rgba(33, 150, 243, 0.6);
}

.social-list-footer{
  display: flex;
  gap:10px;
    align-items: center;
  justify-content: space-evenly;
  padding-left: 0px;
  list-style: none;
}

.social-list-tittle{
  color:#fff;
  font-size: 14px;
  font-weight: 700;
}

.social-icon-footer{
  fill: #fff;
  width: 20px;
  height: 20px;

}

.social-link-footer{
  display: flex;
  width: 44px;
  height: 44px;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-link-footer:hover,
.social-link-footer:focus{
  background-color: #2196f3;
}

/* -----PORTFOLIO----- */

.filters {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  margin: 8px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: #2196f3;
}

.project-list{
  padding-top: 50px;
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
  justify-content: space-between;
  margin-bottom: 94px;
  padding-left: 0px;
  gap:30px; 
}
.project-item {
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
}

.project-item:hover,
.project-item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

.project-link {
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  padding-bottom: 20px;
  padding-left: 24px;
}
