.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor(fontDeepDark);
    margin-top: 40px;
    margin-bottom: 12px;
}

.form__item {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: getColor(fontGrey);
    padding-bottom: 10px;

    .form__icon--person {
        top: 108px;
        left: 52px;
        position: absolute
    }
    .form__icon--tele {
            top: 174.26px;
            left: 54.27px;
            position: absolute
        }
    .form__icon--mail {
                    top: 243px;
                    left: 53.5px;
                    position: absolute
                }
}

.form__input {
    display: block;
    width: 448px;
    height: 40px;
    border: 1px solid getColor(borderForm);
    border-radius: 4px;
    padding-left: 40px;
    outline: none;



&:focus,
&:focus-within+.form__icon--person,
&:focus-within+.form__icon--tele,
&:focus-within+.form__icon--mail {
    border-color: getColor(blueColor);
    fill: getColor(blueColor);
}
}



.form__icon--person {
    width: 12px;
    height: 12px;
}


.form__icon--tele {
    width: 13px;
    height: 13px;
}



.form__icon--mail {
    width: 15px;
    height: 12px;
}


.form__textarea {
    display: block;
    width: 448px;
    height: 120px;
    border: 1px solid getColor(borderForm);
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 12px 16px;


    &:focus {
    border-color: getColor(blueColor);
}

    &::placeholder {
    color: getColor(fontPaceHolder);
}
}

.form__policy {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:getColor(fontGrey);
    padding-top: 10px;
    padding-bottom: 30px;
}