.headline {
    display: flex;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    padding-top: 0px;
    margin: 0 auto;
    overflow: hidden;
}


.headline__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline__title {
    font-weight: 900;
    color: #fff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/*=== MOBILE ===*/
@media screen and (min-width:480px), screen and( max-width: 767px) {

    .headline {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/mobile/img-menu-mobile.jpg");
                    max-width: 480px;
    }

    @media screen and(min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .headline {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/mobile/img-menu-mobile@2x.jpg");
         }
    }

    
        .headline__title {
            font-size: 26px;
            line-height: 1.615;
            width: 365px;
        }

}

/*=== TABLET ===*/

@media screen and (min-width: 768px){

        .headline {
           
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/tablet/img-menu-tablet.jpg");
            max-width: 768px;

        }

    @media screen and(min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .headline {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url("../images/tablet/img-menu-tablet@2x.jpg");
            }
        }

        .headline__box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .headline__title {

            font-size: 26px;
            line-height: 1.615;
            width: 365px;
        }
    
}

/*=== COMPUTER ===*/

@media screen and (min-width: 1200px) {

.headline {

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/img-menu.jpg);
    max-width: 1600px;
    height: 600px;
}

.headline__title {

    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-bottom: 30px;
}
}