.header {
    padding-bottom: 32px;
    border-bottom: 1px solid #ececec;
}

.head {
    display: flex;
    justify-content: space-between;
}


.head__menu {
    display: flex;
    justify-content: space-between;
    gap: 94px;
}

.navigation {
    margin: 0;
    padding-top: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-left: 0px;
    margin: 0;
    gap: 46px;
}

.menu__link {
    display: block;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    line-height: 1.14;

    &:hover,
    &:focus {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

.here {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -40px;
    background-color: #2196f3;
}
}


.contact {
    display: flex;
    gap: 30px;
    align-items: baseline;
    justify-content: center;
    padding-top: 32px;
}

.contact__link {
    display: inline;
    color: #757575;
    text-decoration: none;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 32px;

    &:hover,
    &:focus {
            color: #2196f3;
            fill: #2196f3;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.contact__mail:hover,
.contact__mail:focus,
.contact__phone:hover,
.contact__phone:focus {
    color: #2196f3;
    fill: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail-icon {
    width: 16px;
    height: 12px;
}

.contact__phone-icon {
    width: 10px;
    height: 16px;
}