.logo {
    font-family: var(--secondary);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--fontDeepDark);
    padding: 16px 0;
    display: flex;

    &--bg-dark {
        color: var(--colorLight);
        padding-top: 0px;
        padding-bottom: 20px;
        display: flex;
    }
}


/*=== MOBILE ===*/

@media screen and (min-width: 480px) {
    
.logo {

    font-size: 24px;
    line-height: 1.167;

        &--bg-dark {
            justify-content: center;
                    }
            }
}


/*=== TABLET ===*/

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .logo {
    align-items: center;
    }
}

/*=== COMPUTER ===*/

@media screen and (min-width: 1200px){

.logo {
    
    font-size: 26px;
    line-height: 1.19;
    
    &--bg-dark {
        justify-content: flex-start;
     }
}
}