.logo {
    font-family: "raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--fontDeepDark);
    padding-top: 24px;
    display: flex;

    &--bg-dark {
    color: var(--colorLight);
    padding-top: 0px;
    padding-bottom: 20px;
}
}