.main__title {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
    padding-right: auto;
    padding-bottom: 50px;
    font-size: 36px;
}