.contact-menu {
    display: flex;
    gap: 30px;
    align-items: baseline;
    justify-content: center;
    padding-top: 32px;
}

.e-mail-link,
.phone-link {
    display: inline;
    color: #757575;
    text-decoration: none;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 32px;
}

.e-mail:hover,
.e-mail:focus,
.phone:hover,
.phone:focus,
.e-mail-link:hover,
.e-mail-link:focus,
.phone-link:hover,
.phone-link:focus {
    color: #2196f3;
    fill: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
    width: 16px;
    height: 12px;
}

.phone-icon {
    width: 10px;
    height: 16px;
}