.section {
    padding-top: 94px;
}

.section--grey {
    background-color: #f5f4fa;
    margin-top: 94px;
    ;
}

.section--dark {
    background-color: #2f303a;
    padding-bottom: 60px;
    margin-top: 94px;
}

.section--blok {
    padding-top: 50px;
}