.section {
    padding-top: 94px;


    &--grey {
    background-color: getColor(colorGrey);
    margin-top: 94px;
    ;
    }

    &--dark {
    background-color: getColor(colorDark);
    padding-bottom: 60px;
    margin-top: 94px;
    }

    &--blok {
    padding-top: 50px;
    }
}