.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 30px;
    gap: 10px;
}


.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
}

.social__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #fff;
}

.social__icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.social__link:hover,
.social__link:focus {
    fill: #fff;
    background-color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}