.strength__item {
    display: inline-block;
}

.strength__box {
    background: var(--colorGrey);
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.strength__icon {
    width: 70px;
    height: 70px;
}

.strength__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px auto;
    align-items: center;
    max-height: 185px;
    display: flex;
}

.strength__element {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fontGrey);
    display: inline-block;
    height: 75px;
    padding-top: 10px;
    margin: 0px;
}



@media screen and (min-width:480px) and (max-width: 767px) {
    .strength__box {

        max-width: 450px; 
    }
.strength__title {
    justify-content: center;
}
    .strength__element {
        min-width: 450px;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
strength__box {

        width: 354px;
    }

.strength__title {
    justify-content: flex-start;
}

    .strength__element {
        width: 354px;
    }
}


/*=== COMPUTER ===*/

@media screen and (min-width:1200px) {
    .strength__box {
        width: 270px;
    }
    .strength__element {
        min-width: 270px;
    }
}