.task {
    position: relative;


    &__img {
    margin: 0px;
    display: block;
    }

    &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    font-weight: 700;
    display: flex;
    width: 370px;
    height: 70px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    }
}