.team__worker {
    display: inline-block;
    background: var(--colorLight);
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px var(--boxShadow1), 0px 1px 1px var(--boxShadow4),
        0px 2px 1px var(--bgBackDrop);
    border-radius: 0px 0px 4px 4px;
}

.team__name,
.team__profession {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
}

.team__name {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team__profession {
    color: var(--fontGrey);
    padding-bottom: 16px;
}