.worker {
    display: inline-block;
    background: getColor(colorLight);
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px getColor(boxShadow1), 0px 1px 1px getColor(boxShadow4),
        0px 2px 1px getColor(bgBackDrop);
    border-radius: 0px 0px 4px 4px;
}

.worker__name,
.worker__profession {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
}

.worker__name {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}

.worker__profession {
    color: getColor(fontGrey);
    padding-bottom: 16px;
}